<div class="containerWithPadding">

  <mat-accordion class="headers-align" multi>

    <h4>Tree example: click on a white area to create a node. Drag a node onto another to merge them. Double click to
      explode and see the childs.</h4>
    <br>
    <!-----------------------------------------------EXAMPLE 1 -------------------------------------------------------->
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size:larger;"><b> Example 1: </b>Interactive, no autosize, color by cluster (nodes
          get the same color of the
          father/cluster). <br>Click on the canvas to create a new node<br>Drag a node  on top of another (on a different cluster) to append to,
          double click a node to expand. Click on an edge to select it.</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-content>
          <!--DIV FOR EXAMPLE 1 HERE-->
          <div id="example_1_div" style="border-color:black; border-style: solid;">

          </div>

        </mat-card-content>
      </mat-card-content>

    </mat-card>

    <br>
     <!-----------------------------------------------EXAMPLE 2 -------------------------------------------------------->
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size:larger;"><b> Example 2: </b>Similar as before (but non-clickable edges), but node get bigger the more
          children they have</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-content>
           <!--DIV FOR EXAMPLE 2 HERE-->
          <div id="example_2_div" style="border-color:black; border-style: solid;">

          </div>

        </mat-card-content>
      </mat-card-content>

    </mat-card>
    <br>
      <!-----------------------------------------------EXAMPLE 3 -------------------------------------------------------->
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size:larger;"><b> Example 3: </b>Custom graphical props. Readonly, autosize, color by state (the color of a
          node depends on its internal status).
          <br>The tree is non modifiable, and it's nodes are loaded asynchronously (after some second) from read (mocked) data <br>
          <br>Double click a node to expand. Click update button to change node state/color <button (click)="updateDataForExample3Tree()">UPDATE</button>  &nbsp; , or expand <button (click)="expandExample3Tree()">EXPAND</button>  &nbsp; <button (click)="collapseExample3Tree()">COLLAPSE</button></mat-card-title>
          
          
          
          
      </mat-card-header>
      <mat-card-content>
        <mat-card-content>
           <!--DIV FOR EXAMPLE 3 HERE-->
          <div id="example_3_div" style="border-color:black; border-style: solid;">

          </div>

        </mat-card-content>
      </mat-card-content>

    </mat-card>
    <br>
      <!-----------------------------------------------EXAMPLE 4 -------------------------------------------------------->
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size:larger;"><b> Example 4: </b>
          Readonly, color by state, but with multiple fathers for a node allowed. Clickable edges, but with no callback on click
        </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <mat-card-content>
          <!--DIV FOR EXAMPLE 4 HERE-->
          <div id="example_4_div" style="border-color:black; border-style: solid;">

          </div>

        </mat-card-content>
      </mat-card-content>

    </mat-card>
    <br>
     <!-----------------------------------------------EXAMPLE 5 -------------------------------------------------------->
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size:larger;"><b> Example 5: </b>
          Same as before (but clickable edges with callback for setting highlight and click handler on nodes for highlight on those too), but trees are disposed along row-wise using a fixed layout.
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-content>
         <!--DIV FOR EXAMPLE 5 HERE-->
          <div id="example_5_div" style="border-color:black; border-style: solid;">

          </div>

        </mat-card-content>
      </mat-card-content>

    </mat-card>
    <br>
    <!-----------------------------------------------EXAMPLE 6 -------------------------------------------------------->
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size:larger;"><b> Example 6: </b>
          Same as before, but node are disposed using column-wise layout
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-content>
          <!--DIV FOR EXAMPLE 6 HERE-->
          <div id="example_6_div" style="border-color:black; border-style: solid;">

          </div>

        </mat-card-content>
      </mat-card-content>

    </mat-card>
    <br>
    <!-----------------------------------------------EXAMPLE 7 -------------------------------------------------------->
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size:larger;"><b> Example 7: </b>
          Interactive tree with registered callback.<br>
          Open the console to see the logs on double click and node creation (there are lots of events you can catch)
        </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <mat-card-content>
          <!--DIV FOR EXAMPLE 7 HERE-->
          <div id="example_7_div" style="border-color:black; border-style: solid;">

          </div>

        </mat-card-content>
      </mat-card-content>

    </mat-card>


    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size:larger;"><b> Example 8: </b>
          Tree loaded via json and interactive, with data exporting in json.
          You can configure what json schema to use and what data use as node status.<br>
          Interact to create new nodes on the loaded (via json data) tree. On every interaction with the tree
          (create/append etc)
          the data is exported (on the right)

        </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <mat-card-content>

          <div class="float-container" style="border-color:black; border-style: solid;">
            <div class="float-child-left">
              <div id="tree_interactive_anddataviajson"></div>
            </div>

            <div class="float-child-right" >
              <h3>Exported Data</h3>
              <pre style="overflow-y: scroll; height:600px;" [innerHTML]="exportedData_jsonPretty"></pre>
            </div>
          </div>


        </mat-card-content>
      </mat-card-content>

    </mat-card>

  </mat-accordion>

</div>